.form {
  padding: 5px;
  background: white;
  display: grid;
  column-gap: 15px;
  align-items: stretch;
  justify-content: stretch;
}

.form__header {
  padding: 15px;
  border-bottom: 1px solid #e7e5e5;
  background-color: white;
}

.form__inputSection {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 40px;
  align-items: stretch;
  justify-content: stretch;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .form__inputSection {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__input {
  width: 100%;
  margin-left: 15px;
  font-size: 20px;
}

.form__button {
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  transition: 1s;
  padding: 5px;
}

@media (max-width: 600px) {
  .form__button {
    margin: 5px 15px;
  }
}
