html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  background-color: #e7e5e5;
  word-break: break-word;
}

.container {
  background-color: white;
}
